<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="create-order content">
        <form action="/products" method="POST">
            <label for="order_date">Order date</label><br>
            <input type="date" id="order_date" name="order_date" required><br>
            <label for="status">Status</label><br>
            <input type="radio" id="status" name="status" value="status">
            <label for="status">Approved</label>
            <input type="radio" id="status" name="status" value="status">
            <label for="status">Approved</label>
            <label for="description">Description</label><br>
            <input type="text" name="description" id="description" required><br>
            <label for="category">Category</label><br>
            <input type="text" name="category" id="category" required><br>
            <label for="stock_quantity">Stock Quantity</label><br>
            <input type="number" name="stock_quantity" id="stock_quantity" required><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>
