<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="create-order content">
        <form action="/orders" method="POST">
            <label for="order_date">Order date</label><br>
            <input type="date" id="order_date" name="order_date" required><br>
            <label for="status">Status</label><br>
            <input type="radio" id="status" name="status" value="status">
            <label for="status">Approved</label>
            <input type="radio" id="status" name="status" value="status">
            <label for="status">Not Approved</label><br>
            <label for="total_price">Total Price</label><br>
            <input type="number" id="total_price" name="total_price" required><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>
